.layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    grid-auto-flow: row dense;
  
    justify-content: space-around;
    align-content: space-between;
    justify-items: center;
    align-items: center;
  }